@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.UpdateBody {
  font-family: "Inter", sans-serif;
}
.heading {
  color: #ffffff;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  padding: 5%;
  max-width: 550px;
  width: 100%;
  border-radius: 5%;
  background: #e48240;
  background: -webkit-linear-gradient(
    39deg,
    #e46640 0%,
    #ca6e23 50%,
    #9c2929 100%
  );
  background: linear-gradient(39deg, #e46140 0%, #ca9523 50%, #9c4a29 100%);
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}
.formbold-input-flex > div {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
}
.formbold-textarea {
  display: flex;
  flex-direction: column-reverse;
}

.formbold-form-input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #dde3ec;
  border-radius: 10px;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #384d07;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder {
  color: #c7e580;
}
.formbold-form-input:focus {
  box-shadow: 3px 5px 5px #aeb1a5;
}
.formbold-form-label {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin-bottom: 18px;
}
.formbold-form-input:focus + .formbold-form-label {
  color: #000000;
}

.formbold-input-file {
  margin-top: 30px;
}
.formbold-input-file input[type="file"] {
  position: absolute;
  top: 6px;
  left: 0;
  z-index: -1;
}
.formbold-input-file .formbold-input-label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.formbold-filename-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 22px;
}
.formbold-filename {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  color: #828753;
}
.formbold-filename svg {
  cursor: pointer;
}

.formbold-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  font-weight: 500;
  background-color: #31490a;
  color: #ffffff;
  cursor: pointer;
  margin-top: 25px;
  text-decoration: none;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-bottom {
  display: flex;
  justify-content: space-around;
}
.formbold-anchor {
  text-decoration: none;
  color: #ffffff;
}
